
FutureLeonardo/ghost/master/aya5_variable.cfg
FutureLeonardo/shell/NeonLeon/profile/shell.dat
FutureLeonardo/shell/NeonLeon/profile/shell.dat.bak
FutureLeonardo/shell/ChinStripes/profile/shell.dat.bak
FutureLeonardo/shell/ChinStripes/profile/shell.dat
FutureLeonardo/ghost/master/profile/ghost.dat
FutureLeonardo/ghost/master/profile/ghost.dat.bak
FutureLeonardo/ghost/master/profile/history.dat
FutureLeonardo/ghost/master/profile/var.txt
FutureLeonardo/translation stuff/SakuraScrip Tag.PNG
FutureLeonardo/translation stuff/random notes.txt
FutureLeonardo/translation stuff/keep ghost terms in English.PNG
FutureLeonardo/translation stuff/firstboot dialogue.PNG
FutureLeonardo/translation stuff/Distributing your translation.PNG
FutureLeonardo/translation stuff/DevPalette.PNG
FutureLeonardo/translation stuff/Creating a nar file2.PNG
FutureLeonardo/translation stuff/Creating a nar file.PNG
FutureLeonardo/translation stuff/Comparisons.xlsx
FutureLeonardo/translation stuff/Check your translation looks.PNG
FutureLeonardo/SPAbackup/string.txt
FutureLeonardo/SPAbackup/mouse.txt
FutureLeonardo/SPAbackup/menu.txt
FutureLeonardo/SPAbackup/etc.txt
FutureLeonardo/SPAbackup/bootend.txt
FutureLeonardo/SPAbackup/aitalk.txt
